<template>
<div class="mainlayout-wrapper">
  <div class="mainlayout-box1">
    <h1> 
      <button  @click="signOut">Sign Out</button>
      TTS-Messanger 
    </h1>
  </div>
  <div class="mainlayout-box2 audioForm">
    <div class="audiolayout-wrapper">
      <label class="audiolayout-box1">Contingent</label>
      <label class="audiolayout-box2">Voice</label> 
      <label class="audiolayout-box3">Enter sentence</label> 
      <div class="audiolayout-box4" >
        <span id="contingent">{{ !isSuperUser?contingent>=0?contingent:'':'unlimited' }}</span>
        <form id="keyform" v-if="!isSuperUser" @submit.prevent>
          <input style="width: 96.5%" type="text" v-model.trim="secretKey" placeholder="enter key" v-on:keyup.enter="onKeySubmit"  >
        </form>
      </div>
      <span class="audiolayout-box5"  >
        <select v-model="selectedVoiceOption" style="width: 100%">
          <option v-for="option in voiceOptions" :key="option.id" v-bind:value="option">
            {{option.name +", "+option.languageCode+", "+option.gender}}
          </option>
        </select>
      </span>
      <span class="audiolayout-box6" >
        <input  style="flex: 9" v-model="sentence" v-on:keyup.enter="playEnteredSentence"/>
        <button style="flex: 1" @click="playEnteredSentence">play</button>
        <button style="flex: 1" @click="sendSentence">send</button>
      </span>
    </div>
    <div>
      {{ info }}
    </div>
  </div>
  <div class="mainlayout-box3">
    <p>
      <template v-if="connectionStatus=='disconnected'">Connect to <input v-model.trim="editBoxTargetUser" v-on:keyup.enter="onEnterTargetUser"></template>
      <template v-else-if="connectionStatus=='connected'">Connected to {{targetUser}} <button @click="onDisconnect">disconnect</button></template>
      <decision-comp v-else-if="connectionStatus=='deciding'" :targetUser="targetUser" @result="onDecision($event)"></decision-comp>
      <wait-for-response-modal v-else-if="connectionStatus=='initiated'" @cancel='cancelWaitForResponse'></wait-for-response-modal>
    </p>
    {{connectionInfo}}
  </div>
  <div v-show="historyarray.length>0" class="msgandplaybox">
      <msg-and-play-and-send  v-for="sen in historyarray" :key="sen.id" :message="sen.message" :id="sen.id" @play-click="replay"  @send-click="resend">
      </msg-and-play-and-send>
    </div>
</div>
</template>

<script>
import firebase from 'firebase/app'
import 'firebase/functions'
import 'firebase/firestore'
import DecisionComp from '@/components/DecisionComp'
import WaitForResponseModal from '@/components/WaitForResponseModal'
import MsgAndPlayAndSend from '@/components/MsgAndPlayAndSend'
import { mapState, mapGetters} from 'vuex'

import * as Audio from '@/audio'
import {Ref as ResourceRef} from '@/resource'
import {peerState} from '@/peer'

export default {
  components: {
    MsgAndPlayAndSend,
    WaitForResponseModal,
    DecisionComp
  },
  data: function () {
    return {
      secretKey: "",

      //voiceOptions: [],
      editBoxTargetUser: "",
      contingent: -1,
      selectedVoiceOption: null,
      sentence: "",
      info: "",
      historyarray: Audio.history.array
    }
  },
  created: function() {
      this.selectedVoiceOption = this.voiceOptions.find(opt => opt.name == 'en-GB-Standard-A')
  },
  computed: {
    ...mapState(['isSuperUser', 'connectionStatus', 'connectionInfo']),
    ...mapGetters({voiceOptions: 'getVoiceOptions'}),
    targetUser: {
      get() {
        return this.$store.state.targetUser
      },
      set(val) {
        this.$store.commit('setTargetUser', val)
      }
    }
  },
  methods: {
    cancelWaitForResponse() {
      this.$store.dispatch('cancelRequest')
      this.$store.commit('setConnectionInfo', '')
    },
    onDecision(descision) {
      if(descision == 'accept') {
        this.$store.dispatch('connectionRequest', 'respond')
        this.$store.commit('setConnectionInfo', '')
      } else {
        this.$store.dispatch('cancelRequest')
        this.$store.commit('setConnectionInfo', '')
      }
    },
    onDisconnect() {
      this.$store.dispatch('disconnectPeer')
    },
    onEnterTargetUser: function() {
      this.targetUser = this.editBoxTargetUser
      this.$store.dispatch('connectionRequest', 'initiate')
      this.$store.commit('setConnectionInfo', '')
    },
    signOut() {
      firebase.auth().signOut()
      this.$store.dispatch('onLogOff')
      this.$router.push('/signup')
    },
    onKeySubmit() {
      var validateKey = firebase.functions().httpsCallable('validateKey');
      validateKey({ key: this.secretKey})
      .then((/*result*/) => {
        setTimeout(() => firebase.auth().currentUser.getIdTokenResult(true), 3500)
      }).catch((err) => {
        console.log(err)
      });
    },
    playAudioWithInfo: function(url) { // with info
      if(Audio.audio.src!="") {
            Audio.audio.pause;
            //URL.revokeObjectURL(vm.audio.src)
        }
        Audio.audio.src = url
        Audio.audio.addEventListener('loadeddata', () => {
          this.info = "Playing audio..."
          Audio.audio.play()
        })
        Audio.audio.addEventListener('ended', () => {
          this.info = "Audio ended."
        })
    },
    replay: function(id) {
      this.playAudioWithInfo(Audio.history.array[id].resource.url)
    }, 
    resend: function(id) {
      this.sendAudio(Audio.history.array[id].resource.url)
    },
    sendSentence: function() {
      this.synthesize(this.sentence, this.selectedVoiceOption).then((resource) => {
        Audio.cache.add(this.toKey(this.sentence,this.selectedVoiceOption), resource);
        this.sendAudio(resource.url)
      })
    },
    sendAudio: function(url) {
      return fetch(url).catch((error) => {
        throw error
      }).then(response => {
        return response.blob()
      }).then(blob => {
        return blob.arrayBuffer()
      }).then(arraybuf => {
        return peerState.peer.send(arraybuf)
      })
    },
    synthesize: function (sentence, option) {
      let vm = this
      let res = Audio.cache.get(vm.toKey(sentence, option));
      if(res!=undefined) {
        return new Promise(resolve => {resolve(res)})
      } else {
        const synthesizeObj = {
          input: {
            text:sentence
          },
          voice: {
            languageCode:option.languageCode,
            name:option.name,
            ssmlGender:option.gender
          },
          audioConfig: {
            audioEncoding:"OGG_OPUS"
          }
        };
        vm.info = "Sending request..."
        var synthesize = firebase.functions().httpsCallable('synthesize');
        return synthesize(synthesizeObj)
        .then(function (response) {
          vm.contingent = response.data.contingent
          
          let newArray = new Array()
          let p = 0
          while(response.data.audioContent[p]!=undefined) {
            newArray[p] = response.data.audioContent[p]
            p++
          }
          let unit8array = new Uint8Array(newArray)
          let url = URL.createObjectURL(new Blob([unit8array.buffer], {type: "audio/wav"}))

          return new ResourceRef(url)
        })
        .catch(function (error) {
          vm.info = "request failed: "+error.reason
        });
      }
    },
    playEnteredSentence: function() {
      this.synthesize(this.sentence, this.selectedVoiceOption).then((resource) => {
        Audio.cache.add(this.toKey(this.sentence,this.selectedVoiceOption), resource);
        Audio.history.add(this.sentence, resource);
        this.playAudioWithInfo(resource.url)
      }).catch((error) => {
        this.info = "audio error: "+error.reason
      })
    },
    toKey: function(sentence, option) {
      return JSON.stringify({sentence: sentence, option: option})
    },
    
  }
}
</script>
<style scoped>
  .mainlayout-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 150px;
    grid-gap: 10px;
    color: black;
  }

  .mainlayout-box1 {
    grid-column: 1 / 3;
    grid-row: 1;
    border: 1px solid black;
  }

  .mainlayout-box2 {
    grid-column: 1;
    grid-row: 2 ;
    border: 1px solid black;
    padding: 10px
  }

  .mainlayout-box3 {
    grid-column: 2;
    grid-row: 2;
    border: 1px solid black;
    padding: 10px
  }
  .msgandplaybox {
    grid-column: 1;
    grid-row: 3;
    border: 1px solid black;
    padding: 10px
  }
  .audiolayout-wrapper {
    display: grid;
    grid-template-columns: 0.3fr 1fr;
    grid-template-rows: 20px 20px 20px;
    grid-gap: 0px;
    padding: 15px 15px;
    color: black;

  }
  .audiolayout-box1 {
    grid-column: 1;
    grid-row: 1;
    padding-right: 5%;
    text-align: right;
  }
  .audiolayout-box2 {
    grid-column: 1;
    grid-row: 2;
    padding-right: 5%;
    text-align: right;
  }
  .audiolayout-box3 {
    grid-column: 1;
    grid-row: 3;
    padding-right: 5%;
    text-align: right;
  }
  .audiolayout-box4 {
    grid-column: 2;
    grid-row: 1;
    display:flex
  }
  #contingent {
    flex:1;
    border: 1px solid black;
  }
  #keyform {
    flex: 1;
  }
  .audiolayout-box5 {
    grid-column: 2;
    grid-row: 2;
    display:flex
  }
  #selectvoice {
    flex: 1;
  }
  .audiolayout-box6 {
    grid-column: 2;
    grid-row: 3;
    display:flex;
  }
 
  h1 {
    margin: 5px;
    font-size: 30px;
    text-align: left;
  }
  html {
    font-size: 14px; 
    font-family: "Open Sans", sans-serif; 
  }

    
</style>