<template>
  <div class="signup">
    <div v-if="showLoader" id="loader">Loading...</div>
    <div id="firebaseui-auth-container"></div>
    <p>
      {{signedIn ? "Signed In" : "Signed Out"}} 
      <template v-if="signedIn">
        <button  @click="signinout">Sign Out</button>
        <button @click="goToApp">Goto App</button>
      </template>
    </p>
    <textarea v-model="AccountDetails"></textarea>
  </div>
</template>

<script>

import * as firebaseui from 'firebaseui'
import firebase from 'firebase/app'
import 'firebase/auth'

export default {
  name: 'SignUp',
  components: {
  },
  data: function() {
    return {
      showLoader: false
    }
  },
  mounted: function() {
    this.reloadFui()
  },
  computed: {
    signedIn() {
      return this.$store.state.user != null
    },
    AccountDetails() {
      if(this.signedIn) {
        const picked = (({displayName, email, emailVerified, phoneNumber, photoURL, uid, providerData})=>({displayName, email, emailVerified, phoneNumber, photoURL, uid, providerData}))(this.$store.state.user)
        return this.$store.state.token != null ? JSON.stringify(Object.assign({}, picked, {accessToken: this.$store.state.token}))
        : ""
      } else {
        return ""
      }
    },
  },
  watch: {
    signedIn(/*newVal, oldVal*/) {
      this.reloadFui();
    }
  },
  methods: {
    reloadFui() {
      let fui = firebaseui.auth.AuthUI.getInstance()
      if(!fui) {
        this.showLoader = true
        fui = new firebaseui.auth.AuthUI(firebase.auth())
      }
      let fuiConfig = {
        callbacks: {
          signInSuccessWithAuthResult: (/*authResult, redirectUrl*/) => {
            // User successfully signed in.
            // Return type determines whether we continue the redirect automatically
            // or whether we leave that to developer to handle.
            this.showLoader = false
            this.$store.dispatch('onLogIn')
            return false;
          },
          uiShown: () => {
            // The widget is rendered.
            // Hide the loader.
            //document.getElementById('loader').style.display = 'none';
            this.showLoader = false
          }
        },
        // Will use popup for IDP Providers sign-in flow instead of the default, redirect.
        signInOptions: [
          // Leave the lines as is for the providers you want to offer your users.
          firebase.auth.EmailAuthProvider.PROVIDER_ID,
        ],
      };
      
      if(!this.signedIn) {
        fui.start('#firebaseui-auth-container', fuiConfig);
      }
    },
    signinout() {
      if(this.signedIn) {
        firebase.auth().signOut()
        this.$store.dispatch('onLogOff')
      }
    },
    goToApp() {
      this.$router.push('/')
    }
  }
}
</script>
<style scoped>

</style>