<template>
  <span >
  <p>Do you want to accept connection from user {{targetUser}}?</p>
  <p><button :disabled='disabled' @click="onClick('accept')">accept</button> <button :disabled='disabled' @click="onClick('decline')">decline</button></p>
  </span>
</template>

<script>
export default {
  props: {
    targetUser: String
  },
  data: function() {
    return {
      disabled: false
    }
  },
  methods: {
    onClick(which) {
      this.$emit('result', which)
      this.disabled = true
    }
  }
}
</script>