<template>
  <span>{{dots}}</span>
</template>

<script>
export default {
  props: ['rate'],
  data: function() {
    return {
      count: 1,
      dots: null,
      interval: null
    }
  },
  created: function() {
    setInterval(() => {
      this.dots = '';
      for(let i = 0; i < this.count;++i) {
        this.dots = this.dots+'.'
      }
      this.count = ((this.count) % 3) + 1
    }, this.rate)
  },
  destroyed: function() {
    if(this.interval) {
      clearInterval(this.interval)
    }
  }
}
</script>
    