<template>
  <p>
    {{message}} 
    <button v-on:click="$emit('play-click', id)">
      play
    </button> <button v-on:click="$emit('send-click', id)">
      send
    </button> 
  </p>
</template>

<script>
export default {
  props: ['id', 'message']
}
</script>