<template>
  <span>
  waiting for response<dots-comp rate=1000></dots-comp> <button :disabled='disabled' @click="onClick">cancel</button>
  </span>
</template>
<script>
import DotsComp from '@/components/DotsComp'
export default {
  components: {
    DotsComp
  },
  data: function() {
    return {
      disabled: false
    }
  },
  methods: {
    onClick() {
      this.$emit('cancel')
      this.disabled = true
    }
  }
}
</script>